@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*======REST======*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	display: block;
	object-fit: cover;
	object-position: center;
	height: 100%;
}
/*======VARIABLES=======*/
/*---COLOR---*/
$primary: #3e416b;
$secondary: hsl(209, 80%, 49%);
$bg: hsl(0, 12%, 90%);
$overlay: hsla(236, 55%, 62%, 0.616);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsla(0, 0%, 0%, 0.549);
$card: hsl(0, 0%, 95%);
$radius: 0.5rem;
$trash: hsl(0, 48%, 56%);

body {
	background-color: $bg;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	transition: all 0.3s linear;
}
/*======CONTAINE=======*/
.container {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

/*======HEADER=======*/
header {
	/*------NAVBAR------*/
	nav {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		min-height: 200px;
		background-color: $secondary;
		padding: 1.25rem;

		.main-nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.logo {
				font-size: 2rem;
				font-weight: bold;
				text-transform: uppercase;
				color: $primary;
			}

			p {
				font-size: 1.2rem;
				font-weight: bold;
				color: $clr-white;
			}

			ul {
				display: flex;
				li {
					padding: 0.7rem 1rem;

					a {
						font-size: 1.1rem;
						color: $clr-white;
						transition: all 0.5s ease;

						&:hover {
							background-color: $primary;
							color: $clr-white;
							border-radius: 0.5rem;
							padding: 0.7rem 1rem;
						}
					}
				}
			}
		}

		/*---WRAPPER---*/
		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			/*----DROPDOW----*/
			.dropdown {
				width: 130px;
				text-align: center;
				background-color: $clr-white;
				border-radius: 0.5rem;

				select {
					background: none;
					padding: 0.7rem 0.625rem 0.7rem 0;
					color: $primary;
					font-size: 1.2rem;
					cursor: pointer;
				}
			}

			/*----SEARCH----*/
			.search {
				width: 31.25rem;
				background-color: $clr-white;
				height: 2.8125rem;
				border-radius: 0.5rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 1rem;

				input {
					width: 100%;
					height: 2rem;
				}
				i {
					font-size: 1.5rem;
					font-weight: bold;
				}
			}

			/*----CART----*/
			.cart {
				display: flex;
				background-color: $clr-white;
				justify-content: space-between;
				align-items: center;
				padding: 0.7rem 0.625rem;
				border-radius: 0.5rem;
				width: 5rem;
				font-size: 1.5rem;
			}
			span {
				height: 1.375rem;
				width: 1.375rem;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $secondary;
				color: $clr-white;
				font-weight: bold;
				border-radius: 2rem;
			}
		}
	}
}
/*-----MAIN-------*/
main {
	h1 {
		text-align: center;
		font-size: 2.5rem;
		text-transform: capitalize;
		margin-bottom: 2rem;
		position: relative;
		margin-top: 2rem;

		&::after {
			content: '';
			position: absolute;
			transform: translate(-50%, -50%);
			border-radius: $radius;
			top: 95%;
			left: 50%;
			height: 0.2rem;
			width: 12rem;
			background-color: $secondary;
		}
	}
}

/*-----SECTION-------*/
section {
	display: flex;
	margin-bottom: 4.25rem;

	.card-container {
		width: 70%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}

	aside {
		width: 50%;
		background-color: #ccc;
		border-radius: 0.3rem;
		margin-left: 1.25rem;
		padding: 1.25rem;
		text-align: center;

		.head {
			background-color: $secondary;
			border-radius: $radius;
			height: 2.5rem;
			padding: 0.625rem;
			margin-bottom: 1.25rem;
			color: $clr-white;
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-size: 2rem;
				font-weight: bold;
				text-align: center;
			}
		}

		.cart-footer {
			display: flex;
			justify-content: space-between;
			margin: 1.25rem 0;
			padding: 0.625rem 0;
			border-top: 0.1rem solid $primary;
		}
	}
	.card {
		display: flex;
		flex-wrap: wrap;
		padding: 1.25rem;
		border: 0.2rem solid #ccc;
		border-radius: 0.5rem;
	}
	.body-img {
		width: 100%;
		height: 170px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-evenly;

		h2 {
			font-size: 1.3rem;
			font-weight: 700;
			margin-top: 0.9rem;
		}
		span {
			font-size: 1rem;
			opacity: 0.8;
			margin-top: 0.9rem;
		}
	}

	button {
		font-size: 1.2rem;
		padding: 0.625rem 1.25rem;
		background-color: $secondary;
		border-radius: 5rem;
		margin-top: 0.9rem;
		color: $clr-white;
		cursor: pointer;
		transition: all 0.5s ease-in-out;

		&:hover {
			background-color: $primary;
		}
	}

	/*----ADD CART-----*/
	.cart-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.625rem;
		background-color: $clr-white;
		border-bottom: 0.1rem solid $primary;
		border-radius: 0.4rem;
		margin: 0.625rem 0.625rem;

		.box-img {
			width: 4rem;
			height: 4rem;
			border-radius: 10rem;
			border: 0.1rem solid $primary;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.rowimg {
			max-width: 3rem;
			max-height: 3rem;
			border-radius: 50%;
		}
		.bxs-trash {
			color: $trash;
			cursor: pointer;
			font-size: 2rem;
		}
	}
}

/*=====MEDIA QUERY=====*/
@media (max-width: 968px) {
	/*---WRAPPER--*/
	section {
		flex-wrap: wrap;
		.card-container {
			width: 100%;
			grid-template-columns: repeat(2, 1fr);
		}
		aside {
			width: 100%;
			margin-top: 1rem;
		}
	}
}

@media (max-width: 768px) {
	/*---WRAPPER--*/
	section {
		flex-wrap: wrap;

		.card-container {
			width: 100%;
			grid-template-columns: 1fr;
		}
		aside {
			width: 100%;
			margin-left: 0;
		}
	}
	.wrapper {
		flex-wrap: wrap;
	}

	.search {
		input {
			width: 100%;
			height: 2rem;
		}
	}
}
